nav.navbar a.navbar-brand {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-left: 60px;
  }

 ul.navbar-nav {
    margin-left: auto;
  }

ul.navbar-nav li.nav-item {
  margin-right: 30px; /* Adjust as needed */
  font-size: 20px;

}

button.navbar-toggler {
  background-color: transparent; /* Change the background color as needed */
}

/* Change the color of the three lines */
button.navbar-toggler span.navbar-toggler-icon {
  background-color: grey; /* Change the color as needed */
}

form.form-inline input.form-control {
  margin-right: 10px; /* Add right margin as needed */
}

form.form-inline {
  margin-right: 50px; /* Adjust as needed */
}


@import url('shttps://fonts.googleapis.com/css?family=Numan');

html,body{
background-image: url('/images/copy1.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-color: black !important;
overflow: hidden;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
overflow: hidden;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}